name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.9.2 pandas scikit-learn joblib matplotlib seaborn docker
        pip install "urllib3<2.0.0"

    - name: Run MLflow Project
      run: |
        mlflow run ./MLProject --env-manager=local

    - name: Build Docker Image (Manual Method)
      run: |
        MODEL_PATH=$(find MLProject/mlruns -name "MLmodel" -exec dirname {} \; | head -n 1)
        echo "Model ditemukan di: $MODEL_PATH"

        mlflow models generate-dockerfile -m "$MODEL_PATH" -d output_docker

        DOCKER_USER=${{ secrets.DOCKER_USERNAME }}
        IMAGE_NAME=${DOCKER_USER:-localuser}/mlflow-workflow-ci
        echo "Building image dengan tag: $IMAGE_NAME"

        docker build -t "$IMAGE_NAME" ./output_docker
        
        echo "FULL_IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

    - name: Login to Docker Hub
      if: env.FULL_IMAGE_NAME != 'localuser/mlflow-workflow-ci'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      if: env.FULL_IMAGE_NAME != 'localuser/mlflow-workflow-ci'
      run: |
        docker push ${{ env.FULL_IMAGE_NAME }}
