name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        # 1. Install library utama
        pip install mlflow==2.9.2 pandas scikit-learn joblib matplotlib seaborn docker
        
        # 2. Paksa downgrade urllib3 untuk memperbaiki error http+docker (PENTING)
        pip install "urllib3<2.0.0" "requests<3.0.0"

    - name: Run MLflow Project
      run: |
        # Menggunakan local environment agar tidak mencari pyenv
        mlflow run ./MLProject --env-manager=local

    - name: Build Docker Image
      run: |
        LAST_RUN_ID=$(ls -t mlruns/0 | head -n 1)
        echo "Menggunakan Run ID: $LAST_RUN_ID"
        
        mlflow models build-docker \
          -m "runs:/$LAST_RUN_ID/model" \
          -n ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci \
          --env-manager=local

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci
