name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.9.2 pandas scikit-learn joblib matplotlib seaborn

    - name: Run MLflow Project
      run: |
        # Menggunakan local environment agar tidak perlu pyenv/conda
        # Pastikan train_preprocessed.csv ada di root atau di dalam folder MLProject
        mlflow run ./MLProject --env-manager=local

    - name: Build Docker Image
      run: |
        LAST_RUN_ID=$(mlflow last-run --quiet)
        echo "Menggunakan Run ID: $LAST_RUN_ID"
        
        mlflow models build-docker \
          -m "runs:/$LAST_RUN_ID/model" \
          -n ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci \
          --env-manager=local

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci
