name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.9.2 pandas scikit-learn joblib matplotlib seaborn

    - name: Run MLflow Project
      run: |
        mlflow run ./MLProject --env-manager=local

    - name: Build and Push Docker Image
      run: |
        MODEL_PATH=$(find MLProject/mlruns -name "MLmodel" -exec dirname {} \; | head -n 1)
        echo "Folder Model: $MODEL_PATH"
        
        cat <<EOF > Dockerfile
        FROM python:3.9-slim
        
        WORKDIR /app
        
        # Instalasi dependensi sistem minimal
        RUN apt-get update && apt-get install -y --no-install-recommends \
            build-essential \
            && rm -rf /var/lib/apt/lists/*
            
        RUN pip install --no-cache-dir mlflow==2.9.2 pandas scikit-learn joblib
        
        COPY $MODEL_PATH /app/model
        
        ENV MLFLOW_MODEL_PATH=/app/model
        
        EXPOSE 8080
        
        CMD ["mlflow", "models", "serve", "-m", "/app/model", "-h", "0.0.0.0", "-p", "8080", "--env-manager=local"]
        EOF

        # 3. Build Image
        DOCKER_USER=${{ secrets.DOCKER_USERNAME }}
        IMAGE_NAME=${DOCKER_USER:-localuser}/mlflow-workflow-ci
        docker build -t "$IMAGE_NAME" .

        # 4. Push ke Docker Hub
        if [ "${{ secrets.DOCKER_USERNAME }}" != "" ]; then
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker push "$IMAGE_NAME"
        else
          echo "DOCKER_USERNAME tidak ditemukan, push dilewati."
        fi
