name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install MLflow
      run: |
        pip install mlflow==2.9.2

    - name: Run MLflow Project
      run: |
        mlflow run ./MLProject --env-manager=virtualenv

    - name: Build Docker Image
      run: |
        mlflow models build-docker -m ./MLProject -n ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci
