name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.9.2 pandas scikit-learn joblib matplotlib seaborn docker
        pip install "urllib3<2.0.0"

    - name: Run MLflow Project
      run: |
        # Menjalankan project di lingkungan lokal runner
        mlflow run ./MLProject --env-manager=local

    - name: Build Docker Image
      run: |
        MODEL_PATH=$(find MLProject/mlruns -name "models" -exec dirname {} \;)
        echo "Model ditemukan di: $MODEL_PATH"

        mlflow models generate-dockerfile -m "$MODEL_PATH" -d output_docker

        docker build -t ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci ./output_docker

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci
