name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.9.2 pandas scikit-learn joblib matplotlib seaborn docker
        pip install "urllib3<2.0.0" "requests<3.0.0"

    - name: Run MLflow Project
      run: |
        mlflow run ./MLProject --env-manager=local

    - name: Build Docker Image
      run: |
        RUN_ID=$(ls -t MLProject/mlruns/0 | grep -v "meta.yaml" | head -n 1)
        echo "Run ID Ditemukan: $RUN_ID"

        MODEL_SUBFOLDER=$(find MLProject/mlruns/0/$RUN_ID/models -name "m-*" -type d | head -n 1)
        echo "Path Model: $MODEL_SUBFOLDER"

        if [ ! -f "$MODEL_SUBFOLDER/MLmodel" ]; then
          echo "Error: File MLmodel tidak ditemukan di $MODEL_SUBFOLDER"
          exit 1
        fi

        mlflow models build-docker \
          -m "$MODEL_SUBFOLDER" \
          -n ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci \
          --env-manager=local

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci
