name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        
    - name: Install Dependencies
      run: |
        pip install mlflow==2.9.2 pandas scikit-learn joblib matplotlib seaborn docker

    - name: Run MLflow Project
      run: |
        mlflow run ./MLProject --env-manager=local

    - name: Build Docker Image
      run: |
        pip install "urllib3<2.0.0" "requests<3.0.0"

        MODEL_PATH=$(find MLProject/mlruns -name "MLmodel" -exec dirname {} \;)
        echo "Path Model ditemukan: $MODEL_PATH"

        if [ -z "$MODEL_PATH" ]; then
          echo "Error: File MLmodel tidak ditemukan!"
          exit 1
        fi

        mlflow models build-docker \
          -m "$MODEL_PATH" \
          -n "${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci" \
          --env-manager=local

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci
