name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.9.2 pandas scikit-learn joblib matplotlib seaborn docker
        pip install "urllib3<2.0.0" "requests<3.0.0"

    - name: Run MLflow Project
      run: |
        # Kriteria Basic: Menjalankan training di folder MLProject
        mlflow run ./MLProject --env-manager=local

    - name: Build Docker Image
      run: |
        MODEL_PATH=$(find MLProject/mlruns -name "MLmodel" -exec dirname {} \; | head -n 1)
        echo "Model ditemukan di: $MODEL_PATH"

        mlflow models build-docker \
          -m "$MODEL_PATH" \
          -n "${{ secrets.DOCKERHUB_USERNAME }}/mlflow-workflow-ci" \
          --env-manager=local

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push Docker Image
      run: |
        # Kriteria Advance: Push image hasil build-docker ke Docker Hub
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-workflow-ci
