name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.9.2 pandas scikit-learn joblib matplotlib seaborn docker
        pip install "urllib3<2.0.0" "requests<3.0.0"

    - name: Run MLflow Project
      run: |
        mlflow run ./MLProject --env-manager=local

    - name: Build Docker Image
      run: |
        RUN_ID=$(ls -F MLProject/mlruns/0 | grep / | grep -v "models/" | sed 's/\///' | head -n 1)
        echo "Run ID Ditemukan: $RUN_ID"

        MODEL_PATH=$(find MLProject/mlruns/0/$RUN_ID -name "MLmodel" -exec dirname {} \;)
        echo "Path Model: $MODEL_PATH"

        if [ -z "$MODEL_PATH" ]; then
          echo "Error: Folder dengan file MLmodel tidak ditemukan!"
          exit 1
        fi

        mlflow models build-docker \
          -m "$MODEL_PATH" \
          -n ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci \
          --env-manager=local

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/mlflow-workflow-ci
